/* fonts */

@font-face {
  font-family: 'Arvo';
  src: url('/assets/fonts/Arvo-Bold.woff2') format('woff2'),
      url('/assets/fonts/Arvo-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arvo';
  src: url('/assets/fonts/Arvo-BoldItalic.woff2') format('woff2'),
      url('/assets/fonts/Arvo-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Arvo';
  src: url('/assets/fonts/Arvo.woff2') format('woff2'),
      url('/assets/fonts/Arvo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arvo';
  src: url('/assets/fonts/Arvo-Italic.woff2') format('woff2'),
      url('/assets/fonts/Arvo-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}



/* site-wide styles */

main {
  min-height: calc(100vh - 160px);
  padding: 30px;
}

:root {
  --main: #fff;
  --light: #e1e1e1;
  --mid: #919191;
  --dark: #656565;
  --accent: #506fd4;
  --error: #db564d;
  --affirm: #50ba65;
}

a, p, * {
  font-family: "Arvo";
  color: var(--dark);
}

.bold {
  font-weight: bold;
}

.italic {
  font-weight: italic;
}

footer {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light);
  color: var(--dark);
}

h1, h2, h3, h4 {
  color: var(--accent);
  margin: 10px 0;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
}

p {
  margin: 5px 0;
}

/* overall navigation */

nav ul a {
  text-decoration: none;
}

/* header navigation */

#page-nav {
  background-color: var(--accent);
}

#page-nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#page-nav li {
  list-style-type: none;
}

#page-nav a {
  display: flex;
  text-decoration: none;
  height: 50px;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  color: var(--main);
}

#page-nav a:not(#nav-title a) {
  border: 2px solid var(--main);
  padding: 5px;
  height: 15px;
  margin: 10px;
  width: 75px;
}

#nav-title {
  font-weight: bold;
  font-size: 22px;
  width: 100%;
}

/* desktop compatibilty */

@media only screen and (min-width: 600px) {
  
  /* nav */

  #page-nav li {
    height: 50px;
  }

  #nav-title {
    width: auto;
    margin-right: auto;
  }

  #page-nav a:not(#nav-title a) {
    width: auto;
  }

}