h1 {
  margin-bottom: 30px;
}

#records {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: 1.2;
}

.event {
  width: min(420px, 100%);
  height: 250px;
}

/* event group */

.eventGroup {
  display: flex;
}

.record {
  width: 50%;
}

.time, .score {
  font-weight: bold;
  margin-bottom: 10px;
}

.athletes, .athlete {
  margin-bottom: 10px;
}

